<div class="content">
    <div class="row center">
        <h1>Leading in security.</h1>
        <h4>As a password manager, our first priority is safeguarding your data. We’ve built LastPass so that we never have the key to your account.</h4>
    </div>
    <div class="red-dots">

            <div class="security-row">
                <div class="security-image">
                    <img src="/-/media/fc04f6d1aa984329b4f5eea158c25379.png?h=200&amp;w=200&amp;la=en&amp;hash=A213B8B2B294184BEC89940DF6835070" alt="imgFormFill2xpng">
                </div>
                <div class="security-copy">
                    <h3>Strong encryption algorithms.</h3>
                    <p>We’ve implemented AES-256 bit encryption with PBKDF2 SHA-256 and salted hashes to ensure complete security in the cloud. You’ll create a password manager account with an email address and a strong master password to locally-generate a unique encryption key.</p>
                </div>
            </div>
            <div class="security-row">
                <div class="security-image-last">
                    <img src="/-/media/6b19c6ae41cc4ed58261cd67f22e4291.png?h=200&amp;w=200&amp;la=en&amp;hash=6A227840CE02A0BF68A920DA55E3D701" alt="imgPassword2xpng">
                </div>
                <div class="security-copy-first">
                    <h3>Local-only encryption.</h3>
                    <p>Your data is encrypted and decrypted at the device level. Data stored in your vault is kept secret, even from LastPass. Your master password, and the keys used to encrypt and decrypt data, are never sent to LastPass’ servers, and are never accessible by LastPass.</p>
                </div>
            </div>
            <div class="security-row">
                <div class="security-image">
                    <img src="/-/media/6b19c6ae41cc4ed58261cd67f22e4291.png?h=200&amp;w=200&amp;la=en&amp;hash=6A227840CE02A0BF68A920DA55E3D701" alt="imgPassword2xpng">
                </div>
                <div class="security-copy">
                    <h3>Multifactor authentication.</h3>
                    <p>Multifactor authentication adds extra security to your LastPass account by requiring a second login step before authorizing access to your vault. <a href="/products/multifactor-authentication">Learn More</a></p>
                </div>
            </div>
    </div>
    <div class="full">
        <div class="rnd-btn red big">
            <a href="" class="launch-app" data-gaeventcategory="download-software" title="Get LastPass Free" data-gaeventaction="content_bottom_get-lastpass-free">Get LastPass Free</a>
        </div>
        <span><a href="https://lastpass.com/create_account.php?from=&amp;from_uri=%2Fpremium%2Fpayment&amp;directbuypremium=1" class="euswap" data-gaeventcategory="upgrade-intent" title="Upgrade to LastPass Premium" data-gaeventaction="go-premium">Upgrade to LastPass Premium</a></span>
    </div>
</div>